<div class= "container">
<h1>Profile</h1>

<%= form_with model: @user, url: profile_path, method: :patch, multipart: true do |f| %>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username, value: @user.username %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email, value: @user.email %>
  </div>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name, value: @user.name %>
  </div>

  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name, value: @user.last_name %>
  </div>

  <div>
    <%= f.label :address %>
    <%= f.text_field :address, value: @user.address %>
  </div>

  <div>
    <%= f.label :country %>
    <%= f.text_field :country, value: @user.country %>
  </div>

  <div>
    <%= f.label :telephone %>
    <%= f.text_field :telephone, value: @user.telephone %>
  </div>

  <div>
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>

  <div>
    <%= f.submit "Update Profile" %>
  </div>
<% end %>

</div>
