<%= link_to "Back to #{@restaurant.name}", restaurant_path(@restaurant), class: 'btn btn-secondary' %>
<hr>
<h1>New Dish</h1>
<%= simple_form_for([@restaurant, @dish]) do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :description %>
 <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>

