
<p><%= link_to 'Back to Restaurants', restaurants_path, class:'btn btn-secondary' %></p>
<hr>
<div class= container>
<h2><%= @restaurant.name %></h2>
<p><strong> Address:</strong> <%= @restaurant.adress %></p>
<p><strong> Rating: </strong><%= @restaurant.rating %></p>
<p><strong>Category:</strong> <%= @restaurant.category %></p>
<p> <%= link_to 'Edit Restaurant', edit_restaurant_path, class: 'btn-btn'%></p>
</div>
<hr>

<div class="container">
  <% @restaurant.dishes.each do |dish| %>
    <div class="card-product">
      <% if dish.photo.attached? %>
        <%= cl_image_tag dish.photo.key, height: 200, width: 250 %>
      <% end %>

      <div class="card-product-infos">
        <h4><%= dish.name %></h4>
        <p> $<%= dish.price %> </p>
        <p> <%= dish.description %></p>
      </div>
   </div>
 <% end %>
</div>
<div class="container">
 <p><%= link_to 'Add a dish', new_restaurant_dish_path(@restaurant), class: 'btn-btn' %></p>
</div>
<hr>


<div class="container">
  <h4>Hours</h4>
  <% @restaurant.hours.each do |hour| %>
    <p>
      <strong>Monday:</strong>
      <%= hour.monday.present? ? hour.monday.strftime("%I:%M %p") : 'Closed' %> -
      <%= hour.monday_closing.present? ? hour.monday_closing.strftime("%I:%M %p") : 'Closed' %>
    </p>
    <p>
      <strong>Tuesday:</strong>
      <%= hour.tuesday.present? ? hour.tuesday.strftime("%I:%M %p") : 'Closed' %> -
      <%= hour.tuesday_closing.present? ? hour.tuesday_closing.strftime("%I:%M %p") : 'Closed' %>
    </p>
    <p>
      <strong>Wednesday:</strong>
      <%= hour.wednesday.present? ? hour.wednesday.strftime("%I:%M %p") : 'Closed' %> -
      <%= hour.wednesday_closing.present? ? hour.wednesday_closing.strftime("%I:%M %p") : 'Closed' %>
    </p>
    <p>
      <strong>Thursday:</strong>
      <%= hour.thursday.present? ? hour.thursday.strftime("%I:%M %p") : 'Closed' %> -
      <%= hour.thursday_closing.present? ? hour.thursday_closing.strftime("%I:%M %p") : 'Closed' %>
    </p>
    <p>
      <strong>Friday:</strong>
      <%= hour.friday.present? ? hour.friday.strftime("%I:%M %p") : 'Closed' %> -
      <%= hour.friday_closing.present? ? hour.friday_closing.strftime("%I:%M %p") : 'Closed' %>
    </p>
    <p>
      <strong>Saturday:</strong>
      <%= hour.saturday.present? ? hour.saturday.strftime("%I:%M %p") : 'Closed' %> -
      <%= hour.saturday_closing.present? ? hour.saturday_closing.strftime("%I:%M %p") : 'Closed' %>
    </p>
    <p>
      <strong>Sunday:</strong>
      <%= hour.sunday.present? ? hour.sunday.strftime("%I:%M %p") : 'Closed' %> -
      <%= hour.sunday_closing.present? ? hour.sunday_closing.strftime("%I:%M %p") : 'Closed' %>
    </p>

    <p>
      <%= link_to edit_restaurant_hour_path(@restaurant, hour), class: 'lil-button' do  %>
          <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
      <%= button_to restaurant_hour_path(@restaurant, hour), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this hour?' }, class: 'lil-button' do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </p>

  <% end %>
  <p><%= link_to 'Add Hours', new_restaurant_hour_path(@restaurant), class: 'btn btn-primary' %></p>
</div>

<hr>



<div class= container>
<p><%=button_to 'Delete this restaurant', @restaurant, method: :delete,  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-danger'
   %> </p>
</div>
