
<p><%= link_to 'Back to Restaurants', restaurants_path, class:'btn btn-secondary' %></p>
<hr>
<div class= container>
<h2><%= @restaurant.name %></h2>
<p><strong> Address:</strong> <%= @restaurant.adress %></p>
<p><strong> Rating: </strong><%= @restaurant.rating %></p>
<p><strong>Category:</strong> <%= @restaurant.category %></p>
<p> <%= link_to 'Edit Restaurant', edit_restaurant_path, class: 'btn-btn'%></p>
</div>
<hr>

<div class="card-product">
  <% @restaurant.dishes.each do |dish| %>
    <% if dish.photo.attached? %>
      <%= cl_image_tag dish.photo.key, height: 200, width: 250 %>
    <% end %>

    <div class="card-product-infos">
      <h4>Dishes</h4>

      <p>
        <%= dish.name %><strong> | </strong>$<%= dish.price %><strong> | </strong><%= dish.description %>
      </p>
    </div>
  <% end %>
</div>
<div class="container">
<p><%= link_to 'Add a dish', new_restaurant_dish_path(@restaurant), class: 'btn-btn' %></p>
</div>
<hr>



<div class="container">
  <h4>Hours</h4>
  <% @restaurant.hours.each do |hour| %>
    <p>
     <strong>Monday:</strong>
     <%= hour.monday %> - <%= hour.monday_closing %>
    </p>
    <p>
     <strong>Tuesday:</strong>
     <%= hour.tuesday %> - <%= hour.tuesday_closing %>
    </p>
     <p>
     <strong>Wednesday:</strong>
     <%= hour.wednesday %> - <%= hour.wednesday_closing %>
    </p>
     <p>
     <strong>Thursday:</strong>
     <%= hour.thursday %> - <%= hour.thursday_closing %>
    </p>
     <p>
     <strong>Friday:</strong>
     <%= hour.friday %> - <%= hour.friday_closing %>
    </p>
     <p>
     <strong>Saturday:</strong>
     <%= hour.saturday %> - <%= hour.saturday_closing %>
    </p>
     <p>
     <strong>Sunday:</strong>
     <%= hour.sunday %> - <%= hour.sunday_closing %>
    </p>
  <% end %>
  <p><%=link_to 'Restaurant hours', new_restaurant_hour_path(@restaurant), class: 'btn-btn' %></p>
</div>
<hr>

<div class= container>
<p><%=button_to 'Delete this restaurant', @restaurant, method: :delete,  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-danger'
   %> </p>
</div>
